[2018-10-31 06:59] menhel opened #1 "Foo"
working on my second tutorial session

[2018-10-31 06:59] yossigil commented on #1
nice job

[2018-10-31 07:02] ron4548 opened #2 "Foo"
working on my second tutorial session

[2018-10-31 07:04] yuvalron opened #3 "foo"
This is my first issue!

[2018-10-31 07:06] yuvalron commented on #3
working on my second tutorial session

[2018-10-31 07:07] yuvalron commented on #3
tutorial issue is #328

[2018-10-31 07:09] ron4548 commented on #2
Guy's issue is #1

[2018-10-31 07:09] yossigil opened #4 "Prepare a team wiki with a schedule for the semester, including all constraints."

[2018-10-31 07:09] yuvalron opened #5 "Karma and Todos for Yuval Ron"
- [x] nickname
- [x] bio page
- [x] not searching job
- [x]  connecting to host
- [x] picture

[2018-10-31 07:10] menhel commented on #1
Ron's issue #2

[2018-10-31 07:10] #1 closed

[2018-10-31 07:15] ameeramer opened #7 "foo"
working on my second tutorial session

[2018-10-31 07:20] Rany615 opened #8 "foo"
working at my second tutorial session

[2018-10-31 07:21] maxcalderon1997 opened #9 "foo"
working on my second tutorial session

[2018-10-31 07:23] moshesab opened #10 "foo"
working on my second tutorial session

[2018-10-31 07:27] ron4548 opened #11 "Karma and Todos for Ron Marcovich"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:28] yuvalron commented on #3
@YossiGil: Done.

[2018-10-31 07:28] #3 closed

[2018-10-31 07:29] menhel commented on #4
Done.
https://github.com/TechnionYP5779/team4/wiki/Team-Scheduele

[2018-10-31 07:29] #4 closed

[2018-10-31 07:30] yossigil opened #12 "Make sure all team members have a setup gitprofile."
Please assign this to one of you.

[2018-10-31 07:33] yuvalron commented on #5
- [ ]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:35] yuvalron commented on #11
Very nice issue!

[2018-10-31 07:37] ron4548 commented on #5
Your Karma page is great! Please have a look at mine #11

[2018-10-31 07:38] menhel opened #13 "Guy Menhel: Introduction"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:38] #7 closed

[2018-10-31 07:38] menhel commented on #13
@yossigil: Done

[2018-10-31 07:38] #13 closed

[2018-10-31 07:38] moshesab commented on #10
tutorial issue is #327

[2018-10-31 07:40] #10 closed

[2018-10-31 07:40] yuvalron opened #14 "setting up the working environment of Yuval Ron and Guy Menhel"
The working environment for this project includes
- [x] Linux
- [x] Eclipe Neon
- [x] Java 8 Programming
- [x] Formatting conventions
- [x] Spartan programming
- [x] Fixed cleanup routine
- [x] Highest level of warning settting
- [x]  Git command line
- [x] Telegram (might be changed by another messaging application)

[2018-10-31 07:41] Rany615 commented on #8
tutorial issue is #328

[2018-10-31 07:41] #8 closed

[2018-10-31 07:42] menhel opened #15 "Karma and Todos for Guy Menhel"

[2018-10-31 07:43] menhel commented on #5
@yuvalron : WOW!!!
Please comment on mine too - #15

[2018-10-31 07:44] menhel commented on #11
Great karma page!
Please comment on mine too - #15

[2018-10-31 07:44] #9 closed

[2018-10-31 07:51] maxcalderon1997 opened #17 "Max Calderon: introduction"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:53] moshesab opened #18 "Moshe Sebag: introduction"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:54] ameeramer opened #19 "Karma and Todos for A'meer A'mer"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 07:54] ameeramer commented on #19
@yossigil Done.

[2018-10-31 07:55] maxcalderon1997 commented on #17
@YossiGil: Done.

[2018-10-31 07:57] maxcalderon1997 commented on #17
@YossiGil: Done.

[2018-10-31 07:57] #17 closed

[2018-10-31 07:58] moshesab commented on #18
@YossiGil: Done.

[2018-10-31 07:58] #18 closed

[2018-10-31 08:02] yossigil opened #20 "Make sure all tests conform to the recommended maven structure"

[2018-10-31 08:05] ameeramer commented on #18
Wow, love your karma page bro. please leave a feedback on mine too :)

[2018-10-31 08:07] moshesab commented on #19
You R the best ^_^
Comment back pls Oi__iO

[2018-10-31 08:07] maxcalderon1997 commented on #19
you are the king

[2018-10-31 08:10] yossigil opened #21 "Setup continuous integration"

[2018-10-31 08:10] ameeramer commented on #17
max you are awesome!

[2018-10-31 08:12] ron4548 opened #22 "setting up the working environment of Ron Marcovich and Max Calderon"
The working environment for this project includes
- [x] Linux
- [x] Eclipe Neon
- [x] Java 8 Programming
- [x] Formatting conventions
- [x] Spartan programming
- [x] Fixed cleanup routine
- [x] Highest level of warning settting
- [x]  Git command line
- [x] Telegram (might be changed by another messaging application)

[2018-10-31 08:18] yossigil opened #23 "Kill dead packages: il.org.spartan.collections, il.org.spartan.bench, il.org.spartan.java,"

[2018-10-31 08:19] yossigil opened #24 "Kill dead packages: il.org.spartan.collections, il.org.spartan.bench, il.org.spartan.java,"

[2018-10-31 08:24] Rany615 opened #25 "Rani Jammal : Introduction"
- [x]  Use a picture, photo or distinct, familiar, personal
avatar. Don't use an automatic icon (we need this to be able to identify you in the tens of students we have):

| Example | Score | Why? |
| --- | --- | --- |
| ![image](https://cloud.githubusercontent.com/assets/12775400/19142710/39a00e24-8ba8-11e6-9971-da4e2f3b67c7.png) | Bad | Vague |
| ![image](https://cloud.githubusercontent.com/asse

[2018-10-31 08:28] Rany615 commented on #25
@yossigil Done.

[2018-10-31 08:29] #25 closed

[2018-10-31 08:32] Rany615 commented on #17
yo nice profile dude

[2018-10-31 08:52] Rany615 opened #26 "setting up the working environment of Rani Jammal"
The working environment for this project includes
- [ ] Linux
- [ ] Eclipe Neon
- [ ] Java 8 Programming
- [ ] Formatting conventions
- [ ] Spartan programming
- [ ] Fixed cleanup routine
- [ ] Highest level of warning settting
- [ ]  Git command line
- [ ] Telegram (might be changed by another messaging application)

[2018-10-31 09:30] menhel commented on #24
Duplicate for #23
Closed.

[2018-10-31 09:30] #24 closed

[2018-10-31 09:31] yossigil opened #27 "Unit tests for class Bool"

[2018-10-31 09:32] yossigil opened #28 "Unit tests for class box"

[2018-10-31 09:32] yossigil opened #29 "Unit tests for class idiomatic"

[2018-10-31 09:33] yossigil opened #30 "Unit tests for class Int"

[2018-10-31 09:34] yossigil opened #31 "Unit tests for class Pair"

[2018-10-31 09:35] yossigil opened #32 "Unit tests for class Range"

[2018-10-31 09:36] yossigil opened #34 "Unit tests for class Statistics"

[2018-10-31 09:37] yossigil opened #35 "Unit tests for class Truth"

[2018-10-31 09:38] yossigil opened #36 "Unit tests for class unbox"

[2018-10-31 09:38] menhel commented on #12
Done.

[2018-10-31 09:38] #12 closed

[2018-10-31 09:38] yossigil opened #37 "Unit tests for enum empty"

[2018-10-31 09:39] ron4548 commented on #23
What does it mean to 'kill' a package?

[2018-10-31 09:39] yossigil opened #38 "Unit tests for interface anonymous"

[2018-10-31 09:40] yossigil opened #40 "Unit tests for interface as"

[2018-10-31 09:41] yossigil opened #41 "Unit tests for interface count"

[2018-10-31 09:42] yossigil opened #42 "Unit tests for interface is"

[2018-10-31 09:42] yossigil opened #43 "Unit tests for interface nil"

[2018-10-31 09:43] yossigil opened #44 "Unit tests for interface singleton"

[2018-10-31 09:46] yossigil opened #46 "document interface forget and add unit tests"

[2018-10-31 09:48] yossigil opened #48 "consolidate class Wrapper into Outer"

[2018-10-31 09:53] yuvalron commented on #15
Hi Guy it seems like you Karma and Todos is missing some content.

[2018-10-31 09:53] ameeramer opened #49 "setting up the working environment of A'meer A'mer and Moshe Sabag"

[2018-10-31 09:57] yossigil commented on #49
This is not right. There should be a separate issue for each one of you.

[2018-10-31 09:59] moshesab opened #50 "setting up the working environment of Moshe Sebag"

[2018-10-31 09:59] maxcalderon1997 opened #51 "setting up the working environment of Max Calderon and Ron Marcovich"
The working environment for this project includes
- [ ] Linux
- [x] Eclipe Neon
- [x] Java 8 Programming
- [ ] Formatting conventions
- [ ] Spartan programming
- [ ] Fixed cleanup routine
- [ ] Highest level of warning settting
- [ ]  Git command line
- [x] Telegram (might be changed by another messaging application)

[2018-10-31 09:59] ameeramer commented on #49
The working environment for this project includes
- [ ] Linux
- [ ] Eclipe Neon
- [ ] Java 8 Programming
- [ ] Formatting conventions
- [ ] Spartan programming
- [ ] Fixed cleanup routine
- [ ] Highest level of warning settting
- [ ]  Git command line
- [ ] Telegram (might be changed by another messaging application)

[2018-10-31 10:02] yossigil commented on #51
You do not work in pairs. Please create a separate issue for each one of you.

[2018-10-31 10:07] yossigil opened #52 "Increase code coverage to 60%; for this you need to run "coverage as""

[2018-10-31 10:09] yossigil opened #53 "Move all non-general-purpose code to il.org.spartan.etc"

[2018-10-31 10:36] yossigil opened #54 "move enum file from il.org.spartan.utils to fluent.ly"

[2018-10-31 10:37] yossigil opened #55 "move function read() from class FileUtils to class file"

[2018-10-31 10:39] yossigil opened #56 "change type of enum file to class file"

[2018-10-31 10:40] yossigil opened #57 "move function readFromFile from class FileUtils to class file"

[2018-10-31 10:40] yossigil opened #58 "rename function readFromFile to read"

[2018-10-31 11:00] yossigil opened #59 "move function in() from interface Utils to interface is, erasing duplicates"

[2018-10-31 11:15] yossigil opened #60 "rm function hash() from class Pair, and use function hash() on Utils"

[2018-10-31 11:32] yossigil opened #61 "move function penultimate from Utils to interface list"

[2018-11-01 16:32] yossigil opened #62 "make sure all code is spartanized"

[2018-11-01 16:35] yossigil opened #63 "make sure there are no warnings on code"

[2018-11-06 09:17] dormaayan commented on #49
@ameeramer , @moshesab : Please seperate this into two different issues and close this issue.
You should have the working environment all set for tommorow

[2018-11-06 09:19] dormaayan commented on #51
@maxcalderon1997 , @ron4548 : Please create your own issues, assign yourself and close this one.
We expect you to have the environment all set for the meeting tommorow morning

[2018-11-06 09:20] dormaayan commented on #23
@ron4548 I guess it means to remove the code to a better place, and delete the package itself

[2018-11-06 09:29] dormaayan commented on #27
Please assign a team member to this issue ASAP

[2018-11-06 09:29] dormaayan commented on #63
Please assign a team member to this issue ASAP

[2018-11-06 09:30] dormaayan commented on #52
Please assign all the team members to this issue, and refrence all the other relevant issues here

[2018-11-06 18:15] moshesab commented on #50
The working environment for this project includes
- [ ] Linux
- [x] Eclipe Neon
- [x] Java 8 Programming
- [x] Formatting conventions
- [ ] Spartan programming
- [ ] Fixed cleanup routine
- [ ] Highest level of warning settting
- [ ]  Git command line
- [ ] Telegram (might be changed by another messaging application)

[2018-11-06 19:15] #49 closed

[2018-11-07 06:36] #5 closed

[2018-11-07 06:36] #11 closed

[2018-11-07 06:37] #14 closed

[2018-11-07 06:38] ron4548 commented on #57
Estimated time: 1/2 hour

[2018-11-07 06:39] #51 closed

[2018-11-07 06:39] ameeramer commented on #58
Estimated time to complete: 4-5 minutes.

[2018-11-07 06:39] yuvalron commented on #19
Great Karma page!

[2018-11-07 06:39] #19 closed

[2018-11-07 06:39] #15 closed

[2018-11-07 06:39] maxcalderon1997 commented on #54
it will take  approximately 2 hours

[2018-11-07 06:40] maxcalderon1997 commented on #61
it will take  approximately 2 hours

[2018-11-07 06:40] #22 closed

[2018-11-07 06:41] yuvalron commented on #62
5hr

[2018-11-07 06:41] maxcalderon1997 commented on #42
it will take approximately 5 hours

[2018-11-07 06:42] yuvalron commented on #55
1hr

[2018-11-07 06:42] yuvalron commented on #43
3hr

[2018-11-07 06:43] ron4548 commented on #37
Estimated time: 2 hours

[2018-11-07 06:43] ron4548 commented on #46
Estimated time: 1/2 hour

[2018-11-07 06:43] ameeramer commented on #48
Estimated time to complete: 0.5 hours.

[2018-11-07 06:44] maxcalderon1997 commented on #34
it will take  approximately 5 hours

[2018-11-07 06:45] ameeramer commented on #38
Estimated time to complete: 2 hours.

[2018-11-07 06:45] yuvalron commented on #35
2hr

[2018-11-07 06:45] ameeramer commented on #32
Estimated time to complete: 2 hours.

[2018-11-07 06:45] ron4548 commented on #31
Estimated time: 1 hour

[2018-11-07 06:45] yuvalron commented on #30
2hr

[2018-11-07 06:46] ameeramer commented on #29
Estimated time to complete: 2 hours.

[2018-11-07 06:47] yuvalron commented on #27
2hr

[2018-11-07 06:48] Rany615 commented on #59
time: 1.5 hours

[2018-11-07 06:49] menhel commented on #44
Estimated work time: 1 hour

[2018-11-07 06:49] Rany615 commented on #53
time : 0.5 hours

[2018-11-07 06:50] ron4548 commented on #28
Estimated time: 2 hours

[2018-11-07 06:51] Rany615 commented on #41
2.5 hours

[2018-11-07 06:51] menhel commented on #36
Estimated work time: 3 hours

[2018-11-07 06:52] ron4548 commented on #23
Estimated time: 1/2 hour

[2018-11-07 06:52] menhel commented on #21
Estimated work time: 2 hours

[2018-11-07 06:52] menhel commented on #56
Estimated work time: 0.5 hour

[2018-11-07 06:54] ron4548 commented on #20
Estimated time: 2 hours

[2018-11-07 06:54] menhel commented on #40
Estimated work time: 3 hours

[2018-11-07 06:55] menhel commented on #60
Estimated work time: 0.5 hour

[2018-11-07 06:58] menhel commented on #52
Estimated: 3 hours

[2018-11-07 06:59] menhel commented on #63
Estimated: 3 hours

[2018-11-07 09:48] menhel opened #64 "Set up running environment - Guy Menhel"
Definition Of Done (DOD):
Comment with a screenshot of your eclipse with a running project of Spartan

[2018-11-07 09:48] ameeramer opened #65 "make sure the code runs"

[2018-11-07 09:49] ron4548 opened #66 "Set up running enviroment - Ron Marcovich"
Definition Of Done (DOD):
Comment with a screenshot of your eclipse with a running project of Spartan

[2018-11-07 09:49] yuvalron opened #67 "Set up running environment - Yuval Ron"
Definition Of Done (DOD):
Comment with a screenshot of your eclipse with a running project of Spartan

[2018-11-07 09:49] Rany615 opened #68 "make sure the code runs"

[2018-11-07 09:51] maxcalderon1997 opened #69 "Set up running enviroment - Max Calderon"
Definition Of Done (DOD):
Comment with a screenshot of your eclipse with a running project of Spartan

[2018-11-07 09:52] maxcalderon1997 commented on #69
Definition Of Done (DOD):
Comment with a screenshot of your eclipse with a running project of Spartan

[2018-11-07 09:54] moshesab opened #70 "Set up running environment - Moshe Sebag"
Definition Of Done (DOD):
Comment with a screenshot of an eclipse with a running project of Spartan

[2018-11-07 10:13] ameeramer commented on #65
![image](https://user-images.githubusercontent.com/19497043/48125008-62730400-e286-11e8-86ef-4a70cebb9f28.png)

Done.

[2018-11-07 10:13] #65 closed

[2018-11-07 10:39] moshesab commented on #70
@yossigil Here is my screenshot:
![image](https://user-images.githubusercontent.com/23172912/48126567-23df4880-e28a-11e8-9776-5924d228037c.png)

[2018-11-07 10:41] Rany615 commented on #53
@yossigil what is non-general-purpose code?

[2018-11-07 12:31] dormaayan opened #72 "Refactor use of assertions"
All code in the project must use the azzert library in the project.

[2018-11-07 12:32] dormaayan opened #73 "Define class range using tdd"
class range represents a range of integers, which could be infinite.

- [x] erase everhing in the class, and commit your erases.
use tdd to develop the class, as follows:
do at least one comit for each checkbox.

- [x] rang.from(2) create the infinite range 2....
- [x] range.from(2).from() returns the  starting point of the range
 - [x] range.from(2).to(6) returns the range 2,3,4,5
 - [x] range.to

[2018-11-07 12:35] dormaayan opened #74 "use tdd to develop a fluent api that represents an arithemtical progression over BigInteger"
See #73  on how to define the fluent API.
Add checkboxes as necessary, note that default first value is zero, default step should e zero, and default count is infinity

[2018-11-07 12:36] dormaayan opened #75 "Use tdd to develop representing recangles in the plane defined by two corner points"
see #73, #74

[2018-11-07 12:49] dormaayan opened #76 "use tdd to define a class that defines a list of pairs of real numbers"
this list could be used e.g., for representing a set of data points to draw in an xy graph,
e.g., x is time and y is weight. the series is the list of data points.

- [x]  function recod(x,y)
- [x] iteration over pairs sorted by
- [x] statistics, such as count of data points.
- [x] implement linear regression https://en.wikipedia.org/wiki/Simple_linear_regression

[2018-11-07 13:03] dormaayan opened #79 "Define class range using tdd"
class range represents a range of integers, which could be infinite.

- [ ] erase everhing in the class, and commit your erases.
use tdd to develop the class, as follows:
do at least one comit for each checkbox.

- [ ] rang.from(2) create the infinite range 2....
- [ ] range.from(2).from() returns the  starting point of the range
 - [ ] range.from(2).to(6) returns the range 2,3,4,5
 - [ ] range.to

[2018-11-07 13:03] dormaayan opened #80 "use tdd to develop a fluent api that represents an arithemtical progression over BigInteger"
See #79  on how to define the fluent API.
Add checkboxes as necessary, note that default first value is zero, default step should e zero, and default count is infinity

[2018-11-07 13:04] dormaayan opened #81 "Use tdd to develop representing recangles in the plane defined by two corner points"
see #79 , see #80

[2018-11-07 13:05] dormaayan opened #82 "use tdd to define a class that defines a list of pairs of real numbers"
this list could be used e.g., for representing a set of data points to draw in an xy graph,
e.g., x is time and y is weight. the series is the list of data points.

- [ ]  function recod(x,y)
- [ ] iteration over pairs sorted by
- [ ] statistics, such as count of data points.
- [ ] implement linear regression https://en.wikipedia.org/wiki/Simple_linear_regression

[2018-11-07 13:18] yuvalron commented on #67
![image](https://user-images.githubusercontent.com/19504086/48133693-585dff00-e2a0-11e8-8ba3-676dbbb93086.png)

[2018-11-07 13:18] #67 closed

[2018-11-07 14:35] yuvalron commented on #27
Worked on this for 0.5hr

[2018-11-07 15:04] ron4548 commented on #66
<img width="544" alt="screen shot 2018-11-07 at 17 03 44" src="https://user-images.githubusercontent.com/4895877/48139443-2f913600-e2af-11e8-8618-9c78d785bc97.png">
Done. All tests pass

[2018-11-07 15:38] ron4548 commented on #20
@yossigil what is "recommended maven structure"?

[2018-11-07 21:29] yuvalron commented on #30
Took me 0.5 hr

[2018-11-07 21:51] yuvalron commented on #35
Took me 0.5 hr

[2018-11-07 22:44] yuvalron commented on #43
took me 0.5 hr

[2018-11-07 22:52] yuvalron commented on #79
duplicate. #73

[2018-11-07 22:52] #79 closed

[2018-11-07 22:53] yuvalron commented on #80
duplicate. #74

[2018-11-07 22:53] #80 closed

[2018-11-07 22:54] yuvalron commented on #82
duplicate. #76

[2018-11-07 22:54] #82 closed

[2018-11-07 22:55] yuvalron commented on #81
duplicate. #75

[2018-11-07 23:14] yuvalron commented on #55
0.5 hr

[2018-11-08 07:16] yossigil commented on #55
please use comments on the commit so we know which issue you worked on, and which issue was closed by each commit

[2018-11-08 07:16] yossigil commented on #55
@yuvalron , please create an issue with checklist to all team members so that they understand what needs to be done

[2018-11-08 07:28] yossigil commented on #50
please include a screen dump of running maven tests from the command line

[2018-11-08 07:29] yossigil commented on #27
please provide a link to the commit that closed this issue

[2018-11-08 07:30] yossigil commented on #38
please provide a link to the commit that closed this issue

[2018-11-08 07:30] yossigil commented on #35
please provide a link to the commit that closed this issue

[2018-11-08 07:30] yossigil commented on #43
please provide a link to the commit that closed this issue

[2018-11-08 07:31] yossigil commented on #41
please provide a link to the commit that closed this issue

[2018-11-08 07:31] yossigil commented on #58
please provide a link to the commit that closed this issue

[2018-11-08 07:34] yossigil opened #87 "Mark all duplicate issues with the label duplicate"
this includes closed issues

[2018-11-08 08:20] yossigil opened #88 "move all inner TEST classes to the test hierarchy"

[2018-11-08 10:07] yossigil commented on #30
please include a reference to the commit that closed this issue

[2018-11-08 10:25] yossigil opened #89 "Use TDD to develop a function iterables.alternate that takes two iterables, and returns an iterable that returns elements in these in alternating order, until the shortest"
_From @yossigil on November 8, 2018 10:18_

Use TDD to develop a function iterables.alternate that takes two iterables over elements of the same kind, and returns an iterable that returns elements in these in alternating order, until the shortest one is exhausted, and then continues with the other.

use TDD to design and implement specification for the case that one or both arguments are null.
be

[2018-11-08 10:38] yossigil commented on #20
you need a test hierarchy

[2018-11-08 10:38] yossigil commented on #66
nice to have also a photo of the clean warnings page...

[2018-11-08 10:49] yossigil opened #90 "Make sure all closed issues have an assignee"
_From @yossigil on November 8, 2018 10:48_

each one of you will need to make a report on what he did for the sprint, this report should include all non duplicate issues that he closed.

For this reason, we need to make sure that all duplicates are marked duplicate.

_Copied from original issue: TechnionYP5779/team6#61_

[2018-11-08 10:49] yossigil commented on #90
This issue was moved to TechnionYP5779/team1#57

[2018-11-08 10:49] yossigil commented on #90
This issue was moved to TechnionYP5779/team2#53

[2018-11-08 10:49] yossigil commented on #90
This issue was moved to TechnionYP5779/team3#70

[2018-11-08 11:02] yossigil opened #91 "use TDD to define class angle"
_From @yossigil on November 8, 2018 11:1_

that represents an angle on the plane; angles can be added, negated and substracted
here are some hints.

- [x] angle.degrees(20) creates an angle of 20 degrees
- [x] angle.radians(1) creates an angle of 1 radian
- [x] angle.pi is an angle of pi radians
- [x] angle.halfPi is an engle of half Pi radians
- [x] angle.halfPi.add(angle.degrees(20)) is an engle

[2018-11-08 11:02] yossigil commented on #91
This issue was moved to TechnionYP5779/team5#96

[2018-11-08 11:19] ron4548 commented on #66
@yossigil Actually there are many warnings that exist in the code. Configured Eclipse as you instructed us on Telegram. What could be the reason for all the warnings?
<img width="694" alt="screen shot 2018-11-08 at 13 19 03" src="https://user-images.githubusercontent.com/4895877/48195654-e7c6e900-e358-11e8-9732-1b3d0954d2a3.png">

[2018-11-08 16:10] ron4548 commented on #28
Done. Took 2 hours for both this and #36

[2018-11-08 16:10] #28 closed

[2018-11-08 16:10] ron4548 commented on #36
Done. Took 2 hours for both this and #28

[2018-11-08 16:10] #36 closed

[2018-11-08 16:38] yossigil opened #93 "make sure all issues, including closed ones, have a milestone"
_From @yossigil on November 8, 2018 16:36_

to do so, apply searches in the issues tab of github

_Copied from original issue: TechnionYP5779/team1#60_

[2018-11-08 16:38] yossigil commented on #93
This issue was moved to TechnionYP5779/team2#55

[2018-11-08 16:38] yossigil commented on #93
This issue was moved to TechnionYP5779/team3#72

[2018-11-08 16:48] moshesab commented on #50
@yossigil I did already [here](https://github.com/TechnionYP5779/team4/issues/70). Let me know if this is not enough. Thanks.

[2018-11-08 16:56] yossigil commented on #50
IF YOU HAVE FOLLOWED THE ASSIGNMENT ALL THE WAY TO THE END, YOU SHOULD HAVE A HAD A KARMA PAGE...

[2018-11-08 17:06] moshesab commented on #50
@yossigil I actually have one [here](https://github.com/TechnionYP5779/team4/issues/18). LET ME KNOW IF THIS IS NOT WHAT YOU WANTED. Thanks.

[2018-11-08 17:13] yossigil commented on #50
thanks

, please try to provide complete answers next time.
also, include references to issues using #18 and #70

[2018-11-08 17:38] ron4548 commented on #36
@yossigil confirmed 100% coverage for both Box and Unbox #28

[2018-11-08 17:53] moshesab commented on #60
#done

[2018-11-08 17:53] #60 closed

[2018-11-08 18:09] yossigil commented on #60
does this close it?

[2018-11-08 18:14] yossigil commented on #66
someone broke the no warnings property; please fix it

[2018-11-08 18:21] yossigil commented on #72
what's up?

[2018-11-08 18:24] yossigil opened #95 "Please use commits not pull requests"

[2018-11-08 18:43] yossigil commented on #64
a screen shot please!

[2018-11-08 18:45] yossigil commented on #65
ok

[2018-11-08 19:06] ameeramer commented on #38
this is the commit: ca6384b09f9147b1539a3613d5748acd0b1988b3

[2018-11-08 19:07] ameeramer commented on #58
36dd19c40b0a372d0d9d36a0feb7c45ce607b0b1

[2018-11-08 19:14] yossigil opened #97 "warnings etc"
Description	Resource	Path	Location	Type
Null type safety (type annotations): The expression of type 'T[]' needs unchecked conversion to conform to '@NotNull T []'	not.java	/fluent.ly/src/main/java/fluent/ly	line 5	Java Problem
Null type safety (type annotations): The expression of type 'T[]' needs unchecked conversion to conform to '@NotNull T []'	is.java	/fluent.ly/src/main/java/fluent/ly	line 38

[2018-11-08 19:20] yossigil opened #98 "eliminate @SuppressWarnings("boxing") placed for laziness"
you seem to be adding suppresswarning to eliminate warnings. this should be done only as last resort.
clearly not in this one.

please go over code and make sure that @SuppressWarnings are not due to laziness

[2018-11-08 19:26] yossigil opened #99 "clean run of tests"
_From @yossigil on November 8, 2018 19:25_

make sure that tests do not print anything to console. tests should be clean.
there are cases in which the not clean run indicates bad design. maybe you can find them

_Copied from original issue: TechnionYP5779/team6#65_

[2018-11-08 19:30] yossigil commented on #58
your commit message should be something like 'fixes #xxx'; if you do not understand this, raise this in telegram

[2018-11-08 19:42] ameeramer commented on #58
I'll make sure to compose the right message for the next commits. is there anyway to change the current commit message? It seems as though the hash of the commit is computed dependent on the message, so it cannot be changed.

[2018-11-08 20:18] menhel commented on #95
@yossigil
We have decided to adapt the GitFlow Methodology in this yearly project. I have published a Wiki page explaning all about it [here](https://github.com/TechnionYP5779/team4/wiki/GitFlow:-The-way-we-develop-features-and-close-issues).

 Although it is pretty robust for this demo project (the current issues), we felt that getting used to working in this organized manner will be beneficial f

[2018-11-08 20:51] yossigil commented on #95
GOOD IDEAS.

BUT,... YOU ARE NOT ALLOWED AT THIS STAGE TO USE GITFLOW. YOU HAVE TO FINISH ALL ISSUES ASAP, AND THERE ARE MANY OTHER PROBLEMS WITH YOUR TEAM. PLEASE DO NOT ADD ANY MORE

[2018-11-08 20:58] yossigil commented on #58
NO. THERE IS NONE

[2018-11-08 20:58] #58 closed

[2018-11-08 20:58] #38 closed

[2018-11-08 20:59] yossigil commented on #52
LET'S TRY AND SEE.

[2018-11-08 21:00] yossigil commented on #40
WHEN SHALL WE SEE PROGRESS

[2018-11-08 21:01] yossigil commented on #56
well?

[2018-11-08 21:52] #50 closed

[2018-11-08 21:56] moshesab commented on #40
@yossigil hi, I WAS CHANGING NOW
assertEquals(X, Y); to azzert.that(Y, is(X)); for about 3 hours now, so I had no time for this today.
HOPE TO FIND SOME TIME SOON. GN.

[2018-11-08 22:03] yuvalron commented on #27
83772f71772e9c735b0455d855d7330cf78e4ef6

[2018-11-08 22:03] #27 closed

[2018-11-08 22:04] yuvalron commented on #30
595dc9092ea030b968947c44e8cc7e5a19630cdc

[2018-11-08 22:04] #30 closed

[2018-11-08 22:05] yuvalron commented on #43
03935d73ce5c77e30bf45dbd6923481d4ece3333

[2018-11-08 22:05] #43 closed

[2018-11-08 22:06] yuvalron commented on #35
4d1c890b51c71086a4577fb8a1812048deb077b6

[2018-11-08 22:06] #35 closed

[2018-11-08 22:33] yuvalron commented on #81
As asked in #87, this issue was labeled with "duplicate". Therefore I close this issue, and we will work on #75  instead.

[2018-11-08 22:33] #81 closed

[2018-11-08 22:35] yuvalron commented on #87
All duplicate issues have been marked with "duplicate" label, therefore I close this issue.

[2018-11-08 22:35] #87 closed

[2018-11-08 22:57] yuvalron commented on #93
All issues (including closed ones) have a milestone set to "Sprint 0"

[2018-11-08 22:57] #93 closed

[2018-11-08 23:00] yuvalron commented on #90
Every closed issue has now an assignee.

[2018-11-08 23:00] #90 closed

[2018-11-08 23:01] yuvalron commented on #55
no problem.
7d8a50f5824e5f2eb6133336cb6752f920184d83

[2018-11-08 23:01] #55 closed

[2018-11-08 23:15] yuvalron opened #101 "Commit Checklist"
Hi everyone! :)
As I've been asked to do in #55, here is a short checklist of things we should be aware of when making a new commit or closing an issue:
- [ ] Every commit needs to include a meaningful comment. Pay attention that you reference the issue number you are closing! (use comments on the commit)
- [ ] We must work on the master branch and not creating new braches or making any pull reque

[2018-11-09 01:20] menhel commented on #64
Tests pass:
![image](https://user-images.githubusercontent.com/28152692/48237232-63af4880-e3ce-11e8-9d84-59bbeeb0b45b.png)

Eclipse configured as instructed:
![image](https://user-images.githubusercontent.com/28152692/48237177-2a76d880-e3ce-11e8-8923-500d29d88338.png)

[2018-11-09 01:20] #64 closed

[2018-11-09 08:49] ron4548 commented on #31
Done. Took 2 hours

[2018-11-09 08:58] menhel commented on #21
Managed to add Travis CI. Build was successful.

![image](https://user-images.githubusercontent.com/28152692/48252801-4dc17800-e40e-11e8-9995-fa16baecf4c9.png)

[2018-11-09 08:58] #21 closed

[2018-11-09 09:13] menhel commented on #97
Duplicate for #63, which is in progress.

[2018-11-09 09:13] #97 closed

[2018-11-09 09:40] ron4548 commented on #37
Done. Took 1/2 hour. Confirmed coverage of 100% for enum empty:
![image](https://user-images.githubusercontent.com/4895877/48255065-4dc47680-e414-11e8-8105-85dd2e4917af.png)

[2018-11-09 09:40] #37 closed

[2018-11-09 10:07] ron4548 commented on #57
@yossigil No such method "readFromFile" in class FileUtils. Did you mean "writeToFile" method?

[2018-11-09 10:52] ameeramer commented on #57
@ron4548 You won't find the method "readFromFile", issue #58 was to rename the function to "read".

[2018-11-09 10:52] ron4548 commented on #66
@yossigil Warnings will be handled as part of #63

[2018-11-09 10:57] ron4548 commented on #52
Current coverage is 30.8%
![image](https://user-images.githubusercontent.com/4895877/48258758-997c1d80-e41e-11e8-99c1-e9e01735e48c.png)
The following issues should increase code coverage upon completion: #29 #32 #34 #40 #41 #42 #44 #46

[2018-11-09 11:29] ron4548 commented on #57
Looks like this and #55 are redundant once #58 was solved. So this should be marked as duplicate and closed.
@ameeramer @yuvalron Do you agree?

[2018-11-09 12:48] moshesab commented on #60
@yossigil Hi Yossi, What do you mean by this question? I'm not sure I understood.

[2018-11-09 13:16] ameeramer commented on #29
Done, took 3 hours. commit e03c3a04d628ed3f29e98a8559ab0faf07d6730c

[2018-11-09 13:16] #29 closed

[2018-11-09 14:11] menhel commented on #72
It is done, but the use of azzerts causes warnings, which we are working on fixing.
Will update soon.

[2018-11-09 14:17] menhel commented on #56
Done. Took practically 0 hours.

[2018-11-09 14:17] #56 closed

[2018-11-09 14:21] menhel commented on #99
Clean console. See image below.
![image](https://user-images.githubusercontent.com/28152692/48267602-70b65100-e43b-11e8-9c3b-2eb85a943158.png)

[2018-11-09 14:48] menhel commented on #61
Done. All tests pass. No warnings were added.
Took 0.05 hours.

[2018-11-09 14:48] #61 closed

[2018-11-09 14:56] menhel commented on #59
Here is the commit: d9820a6732f626c1c1ac7075bfa789dce44d7da8

[2018-11-09 14:56] #59 closed

[2018-11-09 15:04] menhel commented on #54
Done. All tests pass. No warnings were added.
Took less than 5 minuets.

[2018-11-09 15:04] #54 closed

[2018-11-09 15:55] ameeramer commented on #32
done, took 2 hours. commit 7ca500a4ba97eadda6b9eb3468a4fc0ee00a86d2

[2018-11-09 15:55] #32 closed

[2018-11-09 16:00] menhel commented on #23
Done.
All tests pass. No warnings were added.
Took 0.25 hours.

[2018-11-09 16:00] #23 closed

[2018-11-09 16:09] #95 closed

[2018-11-09 16:11] menhel commented on #72
Done. The warnings will be dealt with as part of this issue #63

[2018-11-09 16:51] ameeramer commented on #44
done, took 1/2 hour. commit 024c01067dc0e43bd1b35e57e1c1c07653f48b77

[2018-11-09 16:51] #44 closed

[2018-11-09 17:00] menhel commented on #62
Done.
![image](https://user-images.githubusercontent.com/28152692/48276843-afef9c80-e451-11e8-8ee2-3d1987884291.png)

Took me 0.5 hours to finish.

[2018-11-09 17:00] #62 closed

[2018-11-09 19:02] ameeramer commented on #63
Eliminated the warning "method has a constructor name" by changing it's name.

[2018-11-09 19:47] menhel commented on #63
Done. All tests pass. No warnings.
![image](https://user-images.githubusercontent.com/28152692/48284746-01575600-e469-11e8-9db4-0349bfbc34d9.png)

Took 4 hours

[2018-11-09 19:47] #63 closed

[2018-11-09 19:51] ameeramer commented on #57
@ron4548 yes.

[2018-11-09 19:51] menhel commented on #57
Closed as duplicate for #55 + #58, as @ron4548 stated

[2018-11-09 19:51] #57 closed

[2018-11-09 20:11] ameeramer commented on #48
done. took 1/2 hour. commit cfea727b97c88a180484c619ab6c25101efd6bb3

[2018-11-09 20:33] menhel commented on #41
Closing commit is d9820a6732f626c1c1ac7075bfa789dce44d7da8

[2018-11-09 20:33] #41 closed

[2018-11-09 20:49] menhel commented on #88
Remaining test to move:
- [ ] il.org.spartan - Utils.java
- [ ] fluent.ly - as.java
- [ ] fluent.ly - prune.java
- [ ] fluent.ly - seperate.java

[2018-11-09 21:41] menhel commented on #42
Done. All tests pass.
Took 0.5 hours

[2018-11-09 21:41] #42 closed

[2018-11-09 22:04] menhel commented on #46
Done. All tests pass.
Took 0.25 hours

[2018-11-09 22:04] #46 closed

[2018-11-09 22:10] menhel commented on #69
@maxcalderon1997, the project now has no errors (#63). Make sure you pull the latest code from master, run it, and post a screenshot here.

[2018-11-09 22:11] menhel commented on #66
@ron4548, the project now has no errors (#63). Make sure you pull the latest code from master, run it, and post a screenshot here.

[2018-11-09 22:29] #40 closed

[2018-11-09 22:31] ameeramer commented on #40
took 1.5 hours.

[2018-11-09 23:43] #48 closed

[2018-11-10 08:52] #53 closed

[2018-11-10 09:02] maxcalderon1997 commented on #69
![image](https://user-images.githubusercontent.com/19844997/48299615-2931d280-e4d8-11e8-84d4-e8ba02822b95.png)

[2018-11-10 09:02] #69 closed

[2018-11-10 09:03] menhel commented on #52
Current coverage: 48.1%
![image](https://user-images.githubusercontent.com/28152692/48299616-2d5df000-e4d8-11e8-8f3a-f01f5137418f.png)

[2018-11-10 09:30] ron4548 commented on #66
All tests pass. No warnings. Thanks @menhel
![image](https://user-images.githubusercontent.com/4895877/48299868-fa1d6000-e4db-11e8-9a07-1e4385075f62.png)

[2018-11-10 09:30] #66 closed

[2018-11-10 09:33] ron4548 commented on #31
Need to refactor usage of azzert.assertEquals to azzert.that

[2018-11-10 09:36] #31 closed

[2018-11-10 11:43] ameeramer commented on #52
Current Coverage: 54.0%

![image](https://user-images.githubusercontent.com/19497043/48300941-80db3880-e4ee-11e8-8e07-26c98db37e51.png)

[2018-11-10 13:35] yuvalron commented on #52
![image](https://user-images.githubusercontent.com/19504086/48301946-277b0580-e4fe-11e8-9c5f-f3e48c01c8ba.png)

Current coverage 57.9%

[2018-11-10 14:42] dormaayan commented on #76
@ameeramer It should define a record of x and y.

[2018-11-10 14:48] dormaayan commented on #52
Keep going!

[2018-11-10 15:13] ameeramer commented on #52
![image](https://user-images.githubusercontent.com/19497043/48302915-e4279380-e50b-11e8-8350-0a660095bfca.png)

[2018-11-10 15:17] ameeramer commented on #52
took 4 hrs.

[2018-11-10 15:46] #34 closed

[2018-11-10 15:50] yuvalron commented on #74
**Fluent API definition of BigIntegerRange class**
Description: a range of BigIntegers, which could be infinite.
- [ ] default first value is 0.
- [ ] default step is 0.
- [ ] default count is infinity.
- [ ] rang.from(2) create the infinite range: 2, 3, ....
- [ ] range.from(2).from() returns the starting point of the range.
- [ ] range.from(2).to(6) returns the range 2, 3, 4, 5.
- [ ] range.to(2

[2018-11-10 15:51] dormaayan commented on #74
Yes

[2018-11-10 16:32] yuvalron commented on #74
@dormaayan
Is there a chance you meant the default step to be ONE and not ZERO?

[2018-11-10 18:15] yossigil commented on #76
THIS IS BUGGY

@Override public boolean equals(Object obj) {
    if (obj.hashCode() == this.hashCode() && obj == this)
        return true;

PLEASE FIX THIS

[2018-11-10 23:39] #74 closed

[2018-11-11 10:08] ron4548 commented on #89
@yossigil What is the expected behaviour in case one or both of the iterables is null? Should we throw an exception?

[2018-11-12 09:46] menhel opened #102 "Find 3 Project Subject Ideas"
For our next meeting, we need to come up with at least 3 novel project ideas - see related [wiki page](https://github.com/TechnionYP5779/team4/wiki/Project-Subject-Ideas).

Even better, if each one will propose his own idea for a project subject, by the template shown in the wiki.

[2018-11-13 16:15] yuvalron commented on #102
First idea by A'meer A'mer: Apartment Finder
https://github.com/TechnionYP5779/team4/wiki/Idea-%231:-Apartment-Finder

[2018-11-13 16:16] yuvalron commented on #102
Second idea: Testock
https://github.com/TechnionYP5779/team4/wiki/Idea-%232:-Testock

[2018-11-14 04:44] yossigil opened #103 "warnings and errors"
Description	Resource	Path	Location	Type
The type java.lang.Object cannot be resolved. It is indirectly referenced from required .class files	singleton.java	/fluent.ly.4/src/main/java/a	line 1	Java Problem
The project was not built since its build path is incomplete. Cannot find the class file for java.lang.Object. Fix the build path then try building this project	fluent.ly.4		Unknown	Java Problem

[2018-11-14 04:55] yossigil commented on #75
code is broken.

[2018-11-14 04:57] yossigil commented on #101
You are still commiting code that break commits. I reopen this. Please find a procedure by which each one you understands and follows the recommendations. Currently this this not the case

[2018-11-14 04:58] yossigil commented on #99
still not working! I cannot even get "run as junit test".

Your project is at mess

[2018-11-14 04:59] yossigil commented on #98
You should have no warnings. And @menhel , please try to let others do some work

[2018-11-14 05:00] yossigil opened #104 "use boxing, and unboxing library instead of $.intValue()"

[2018-11-14 05:02] yossigil commented on #91
public static angle radians(double __) {
    forget.it(__);
    return new angle(1*rad2deg);
  }

this is not correct code.

[2018-11-14 05:04] yossigil commented on #76
no tests for the fix

[2018-11-14 05:05] ameeramer commented on #103
fixed in e9a02deb5fb220323f893c6f197ff97b9dea0a89

[2018-11-14 05:06] ameeramer commented on #99
fixed in e9a02deb5fb220323f893c6f197ff97b9dea0a89

[2018-11-14 05:07] ameeramer commented on #98
There are none.

[2018-11-14 05:07] #98 closed

[2018-11-14 05:08] yossigil commented on #103
use a proper commit message

[2018-11-14 05:10] maxcalderon1997 commented on #75
fixed

[2018-11-14 05:10] #75 closed

[2018-11-14 05:12] yossigil commented on #103
and add tests for the fix

[2018-11-14 05:13] yossigil commented on #103
please include a screen dump of clean compile

[2018-11-14 05:15] ameeramer commented on #103
![image](https://user-images.githubusercontent.com/19497043/48461574-fdb32e80-e7dc-11e8-8dc5-1697948eb87e.png)

[2018-11-14 05:29] #76 closed

[2018-11-14 05:30] ameeramer commented on #103
yes, this commit e9a02deb5fb220323f893c6f197ff97b9dea0a89 fixes the warning.

[2018-11-14 05:40] yossigil commented on #99
your project does not compile still...

[2018-11-14 05:42] yossigil commented on #88
if you do not have a test source hierarchy, maven will not work, and you will not be able to maintain coverage.
You must have a source hierachy of tests.

Please read about this, and do not close this issue without @dormaayan approval

[2018-11-14 05:45] yossigil commented on #98
@ameeramer, next time please do not close issues that were reopened without a proper documentation. otherwise it becomes I say, you say.

[2018-11-14 05:57] yossigil commented on #104
![image](https://user-images.githubusercontent.com/12775400/48462918-e414e580-e7e2-11e8-8d2d-8177c7bef7aa.png)

[2018-11-14 05:57] yossigil commented on #104
@ameeramer: please do not close issues next time without checking what you did

[2018-11-14 06:00] ameeramer commented on #104
Line 99 in as.java was fixed, so are the others, see picture of commit changes. maybe you should pull?

![image](https://user-images.githubusercontent.com/19497043/48462998-2ccc9e80-e7e3-11e8-973b-7f81ae623d3a.png)

[2018-11-14 06:09] ameeramer commented on #104
@yossigil should I close this?

[2018-11-14 06:11] yossigil commented on #72
still `  @Test public void testToString() {
    Assert.assertEquals("<Hello,1>", Pair.newPair("Hello", Integer.valueOf(1)) + "");
  }`

[2018-11-14 06:15] #103 closed

[2018-11-14 06:16] yossigil commented on #104
please include a screen dump that shows that searches for intValue in the project yields only calls from unbox.

after that, you can close this

[2018-11-14 06:16] #104 closed

[2018-11-14 06:31] ameeramer commented on #104
![image](https://user-images.githubusercontent.com/19497043/48464269-afeff380-e7e7-11e8-9372-7ce4f55217e1.png)

[2018-11-14 06:37] menhel commented on #99
![image](https://user-images.githubusercontent.com/28152692/48464302-ceee8580-e7e7-11e8-97ba-a05de0b671a7.png)
---
![image](https://user-images.githubusercontent.com/28152692/48464523-7ff52000-e7e8-11e8-92b6-8c94fc31d294.png)
---

@yossigil For me it does. Can you please provide us with the compile errors you receive? make sure you pull, and refresh the eclipse environment before you try and run.

[2018-11-14 06:46] ron4548 commented on #88
![image](https://user-images.githubusercontent.com/4895877/48464782-62748600-e7e9-11e8-8b79-b095299a410f.png)
@dormaayan This is the test hierarchy we created. If this is not what you mean please let us know what is expected

[2018-11-14 06:57] menhel commented on #91
In order to write code that tries to cheat the test, like you asked, the function argument remains unused.
To overcome this, I used the forget class. Another option was to suppress the warning.
Which of those two method is more preferable? Is there another way I didn't think of?

[2018-11-14 08:03] ameeramer commented on #102
Third idea: SmartCity Traveler
[(https://github.com/TechnionYP5779/team4/wiki/Idea-%233:-SmartCity-Traveler)]

[2018-11-14 08:03] #102 closed

[2018-11-14 09:04] #91 closed

[2018-11-14 09:04] menhel commented on #91
I decided to suppress the warnings.
Closed the issue. Let me know if you want me to do anything else.

[2018-11-14 09:15] ameeramer commented on #88
![image](https://user-images.githubusercontent.com/19497043/48472284-97d79e80-e7fe-11e8-8654-6ed38a52f779.png)

[2018-11-14 09:15] #88 closed

[2018-11-14 09:15] ameeramer commented on #99
![image](https://user-images.githubusercontent.com/19497043/48472296-a32aca00-e7fe-11e8-9c71-5e4e43a4d911.png)

[2018-11-14 09:15] #99 closed

[2018-11-14 09:16] dormaayan opened #105 "consolidate function unused into interface forget"
_From @yossigil on November 14, 2018 9:14_

they do the same; refactor the code accordingly

_Copied from original issue: TechnionYP5779/team6#80_

[2018-11-14 09:16] dormaayan commented on #105
This issue was moved to TechnionYP5779/team5#120

[2018-11-14 09:18] dormaayan opened #106 "Check again that you do not use junit Assert, but only class azzert"
_From @yossigil on November 14, 2018 9:14_

You can do this manually, or write a script. it is up to you.

_Copied from original issue: TechnionYP5779/team6#79_

[2018-11-14 09:18] dormaayan commented on #106
This issue was moved to TechnionYP5779/team1#76

[2018-11-14 09:18] dormaayan commented on #106
This issue was moved to TechnionYP5779/team2#61

[2018-11-14 09:18] dormaayan commented on #106
This issue was moved to TechnionYP5779/team3#79

[2018-11-14 09:19] dormaayan opened #107 "Document a push procedure in a wiki page"
_From @yossigil on November 14, 2018 9:11_

Should include formatting, cleanup, tests, spartanization etc.

_Copied from original issue: TechnionYP5779/team6#78_

[2018-11-14 09:19] dormaayan commented on #107
This issue was moved to TechnionYP5779/team5#122

[2018-11-14 09:21] menhel commented on #72
Duplicate for #106 . Closing.

[2018-11-14 09:21] #72 closed

[2018-11-14 09:22] menhel commented on #101
Duplicate for #107 . Closing.

[2018-11-14 09:22] #101 closed

[2018-11-14 09:22] dormaayan opened #108 "Consolidate classres Range and range"
_From @yossigil on November 14, 2018 9:9_

if you created class Range (capitalized).

The correct design should  have three (internal?) classes,
one for infinite range bounded above,
another for infinite bounded below
and a third for a finite range.

for example,
range.to(3).to(2) generates an error,
range.to(3).fron(2) creates a finite range,

the person responsible for this should not be the per

[2018-11-14 09:22] #89 closed, assigned to ron4548

[2018-11-14 09:24] dormaayan opened #109 "Reopen all non-trivial issues, and make sure that someone else closes them"
_From @yossigil on November 14, 2018 9:2_

in particular, if you closed an non-trivial issue, reopen it, and ask someone else in your team verifies that the issue can be closed.

_Copied from original issue: TechnionYP5779/team6#76_

[2018-11-14 09:29] dormaayan opened #110 "refactor the code so that it uses box and unbox"
_From @yossigil on November 14, 2018 9:17_

code should not include e.g., `x.intValue` or `Short.valueOf(3)`, except for in class box and class unbox

_Copied from original issue: TechnionYP5779/team6#81_

[2018-11-14 09:29] dormaayan commented on #110
This issue was moved to TechnionYP5779/team5#125

[2018-11-14 09:35] menhel commented on #107
See new wiki page: [Push Procedure](https://github.com/TechnionYP5779/team4/wiki/Push-Procedure)

[2018-11-14 09:39] dormaayan opened #111 "Test runs should be with assertions enabled"
_From @yossigil on November 14, 2018 9:21_

Play with eclipse, it is better to write
`assert x`
then
`azzert.isTrue(x)`

but when you run tests the jvm should have assertions enabled

_Copied from original issue: TechnionYP5779/team6#82_

[2018-11-14 09:39] dormaayan commented on #111
This issue was moved to TechnionYP5779/team1#81

[2018-11-14 09:39] dormaayan commented on #111
This issue was moved to TechnionYP5779/team2#66

[2018-11-14 09:39] dormaayan commented on #111
This issue was moved to TechnionYP5779/team3#84

[2018-11-14 09:44] dormaayan opened #112 "Integrate github issues with eclipse"
_From @yossigil on November 14, 2018 9:24_

for this, you need a proper mylyn connector. Best done by one team member figruing this out, and then
letting him instruct other members.

in short, github issues should be shown in the eclipse task list view.

![image](https://user-images.githubusercontent.com/12775400/48472870-e174b900-e7ff-11e8-8357-cf6c77bd12c5.png)

this is what the end results look

[2018-11-14 09:44] dormaayan commented on #112
_From @yossigil on November 14, 2018 9:26_

be sure to enter the github password to and save it in eclipse, otherwise, you will get errors in synching.

here is where you add the password

![image](https://user-images.githubusercontent.com/12775400/48473150-8c857280-e800-11e8-8b18-152753de853c.png)

[2018-11-14 09:44] dormaayan commented on #112
_From @yossigil on November 14, 2018 9:30_

![image](https://user-images.githubusercontent.com/12775400/48473035-3dd7d880-e800-11e8-8753-e906d36a448d.png)

this is where you add repos.

[2018-11-14 09:44] dormaayan commented on #112
_From @yossigil on November 14, 2018 9:37_

hint, do an internet search

[2018-11-14 09:44] dormaayan commented on #112
This issue was moved to TechnionYP5779/team5#127

[2018-11-14 09:44] dormaayan commented on #112
This issue was moved to TechnionYP5779/team1#82

[2018-11-14 09:44] dormaayan commented on #112
This issue was moved to TechnionYP5779/team2#67

[2018-11-14 09:44] dormaayan commented on #112
This issue was moved to TechnionYP5779/team3#85

[2018-11-14 10:00] dormaayan opened #113 "connect your project to SonarQube"
_From @yossigil on November 14, 2018 9:40_

for now, just connect. later we shall decide which rules to use.

_Copied from original issue: TechnionYP5779/team5#128_

[2018-11-14 10:00] dormaayan commented on #113
This issue was moved to TechnionYP5779/team1#83

[2018-11-14 10:00] dormaayan commented on #113
This issue was moved to TechnionYP5779/team2#68

[2018-11-14 10:00] dormaayan commented on #113
This issue was moved to TechnionYP5779/team3#86

[2018-11-14 10:13] menhel commented on #113
Integrated with our repository.

![image](https://user-images.githubusercontent.com/28152692/48476002-94e0ac00-e806-11e8-8821-4f381ba75de1.png)

[2018-11-14 10:13] #113 closed

[2018-11-14 11:14] yossigil opened #114 "@SuppressWarnings("boxing")"
_From @yossigil on November 14, 2018 11:9_

This should never occur in the code, perhaps with the exception of class "box"
Use class box, and/or box.it() instead.

Only close this issue with a screen dump showing search for   @SuppressWarnings("boxing")

_Copied from original issue: TechnionYP5779/team6#87_

[2018-11-14 11:14] yossigil commented on #114
This issue was moved to TechnionYP5779/team5#129

[2018-11-14 11:17] yossigil opened #115 "@SuppressWarning of "static-method""
_From @yossigil on November 14, 2018 10:54_

If a unit test class does not use fixtures, all its methods would get "static-method" warning. Make sure that that in all unit tests like this, "static-method"  warning is suppressed in the class definition.

Do look up "fixtures" and read about junit

_Copied from original issue: TechnionYP5779/team6#86_

[2018-11-14 11:17] yossigil commented on #115
This issue was moved to TechnionYP5779/team5#130

[2018-11-14 11:22] yossigil opened #116 "Create a cleanup profile for eclipse, and save it with your projecrt"
_From @yossigil on November 14, 2018 11:21_

Connect this profile with the wiki you created for a commit procedure

![image](https://user-images.githubusercontent.com/12775400/48479501-315b7c00-e810-11e8-997e-c2a63792c609.png)

_Copied from original issue: TechnionYP5779/team6#88_

[2018-11-14 11:22] yossigil commented on #116
This issue was moved to TechnionYP5779/team5#131

[2018-11-14 11:25] yossigil opened #117 "eliminate all @SuppressWarnings"
_From @anny234 on November 14, 2018 10:28_

from  all code that you wrote. do not add @SuppressWarnings unless there is no other choice

_Copied from original issue: TechnionYP5779/team3#89_

[2018-11-14 11:26] yossigil opened #118 "eliminate all @SuppressWarnings"
_From @anny234 on November 14, 2018 10:28_

from  all code that you wrote. do not add @SuppressWarnings unless there is no other choice

_Copied from original issue: TechnionYP5779/team3#89_

[2018-11-14 11:31] yossigil commented on #109
Do not close this issue, without demonstrating that you indeed fixed some closed issues.

[2018-11-14 11:32] yossigil commented on #111
You should use a jvm flag. Can you please show where this flag is set? use screen dump if necessary

[2018-11-14 11:40] yossigil commented on #109
all open/reclosed issues should include a reference to this issue...

[2018-11-14 19:40] Rany615 commented on #73
how do we make it so that the same function can operate both on objects and as a static function?
range.from(2) create the infinite range 2....
range.to(2).from(-5) is the range -5, -4, ...,0,1

[2018-11-14 19:42] yossigil commented on #73
distinct types

[2018-11-14 20:14] Rany615 commented on #73
same name?

[2018-11-14 20:40] yossigil opened #119 "Convert azzert.that(X, is(true)) to assert x"
_From @yossigil on November 14, 2018 20:39_

Similalry, convert azzert.that(X, is(false)) to assert !x
Similalry, convert azzert.thattrue, is(Boolean.FALSE)) to assert !x,
etc.

_Copied from original issue: TechnionYP5779/team6#90_

[2018-11-14 20:40] yossigil commented on #119
This issue was moved to TechnionYP5779/team5#133

[2018-11-14 20:49] yossigil commented on #108
use lower case since this is fluent

[2018-11-14 21:54] yossigil opened #120 "move prune.TEST1/2 to the test hierarchy"

[2018-11-14 22:31] yossigil opened #121 "Change milestone "Sprint 0" to "Sprint-Zero""
_From @yossigil on November 14, 2018 9:42_

milestones with spaces in them may confuse eclipse

_Copied from original issue: TechnionYP5779/team6#84_

[2018-11-14 22:31] yossigil commented on #121
This issue was moved to TechnionYP5779/team1#91

[2018-11-14 22:31] yossigil commented on #121
This issue was moved to TechnionYP5779/team2#78

[2018-11-14 22:31] yossigil commented on #121
This issue was moved to TechnionYP5779/team3#96

[2018-11-14 22:33] yossigil commented on #112
milestone?

[2018-11-14 22:39] yossigil commented on #105
milestone? label?

[2018-11-15 04:19] yossigil commented on #107
add a directive to format the code

[2018-11-15 04:33] yossigil commented on #110
label? milestone?

[2018-11-15 04:51] yossigil commented on #108
hint, you need three different classes, for the three kinds of ranges, each supporting different functions

[2018-11-15 09:53] moshesab commented on #119
@yossigil  What about using azzert.aye(x) instead?
You asked us to change every use of assert to azzert, and checking that a boolean expression x is true is done by azzert.aye(x) and to check that is false: azzert.nay(x)...

[2018-11-15 09:58] yossigil commented on #119
assert x, is shorter than azzer.taye

[2018-11-15 13:06] moshesab commented on #119
@yossigil  so should we change every azzert.aye(x) to assert x etc?

[2018-11-15 16:31] ron4548 commented on #108
@yossigil I don't understand. You said consolidate. We had 2 classes named Range, we moved the functionality of one of them to the other. Where should three classes come from?

[2018-11-15 16:44] ron4548 commented on #120
@yossigil TEST1/2 contains testing of private method so please let us know which solution you prefer: change the accessibility of private method "shrink" or keep the tests in their current place.

[2018-11-15 16:46] ron4548 commented on #120
What I meant is that we can't test this method from an outer class since it is private.

[2018-11-15 17:10] ron4548 commented on #118
duplicate for #117

[2018-11-15 17:10] #118 closed

[2018-11-16 01:18] yossigil opened #122 "move separate.TEST to the test hierarchy"

[2018-11-16 01:26] yossigil opened #123 "add some more descriptive stuff in your readme.md file"
_From @yossigil on November 8, 2018 17:37_

remember this is how people will see you project on the web

_Copied from original issue: TechnionYP5779/team6#64_

[2018-11-16 10:04] yuvalron commented on #52
![image](https://user-images.githubusercontent.com/19504086/48614782-c177fd80-e997-11e8-97ec-a89d04e6b30f.png)
current is 42%

[2018-11-16 10:31] yuvalron commented on #116
![image](https://user-images.githubusercontent.com/19504086/48616189-8677c900-e99b-11e8-840d-196dfc611e07.png)

[2018-11-16 10:31] ameeramer commented on #112
![image](https://user-images.githubusercontent.com/19497043/48616207-98f20280-e99b-11e8-8af2-2ffb316a9ef6.png)

[2018-11-16 10:37] yuvalron commented on #112
![image](https://user-images.githubusercontent.com/19504086/48616440-4fee7e00-e99c-11e8-90ec-02c48fc86653.png)

[2018-11-16 10:52] ameeramer commented on #114
![image](https://user-images.githubusercontent.com/19497043/48617230-87f6c080-e99e-11e8-9626-ee492490c94a.png)

[2018-11-16 10:54] ameeramer commented on #111
@maxcalderon1997 @moshesab @menhel @Rany615 @ron4548 @yuvalron Please add a screen dump showing that you set the flag.

[2018-11-16 11:02] #105 closed

[2018-11-16 11:18] #115 closed

[2018-11-16 12:41] ron4548 commented on #122
@yossigil same as #120, the tests contain access to internal methods of internal class. What do you want me to do? delete the specific test or change the visibility of the method?
![image](https://user-images.githubusercontent.com/4895877/48621874-a44e2980-e9ad-11e8-8458-e9d78e87c585.png)
"The method separateBy(Object[], String) from the type separate.SeparationSubject is not visible"

[2018-11-16 12:41] ron4548 commented on #120
maybe @dormaayan can help? I'm waiting for your answers on this, #120 and #122 in order to proceed with my work.

[2018-11-16 13:47] yuvalron commented on #52
![image](https://user-images.githubusercontent.com/19504086/48625122-f0519c00-e9b6-11e8-87cd-a58d11f43316.png)
current 48.2%

[2018-11-16 14:41] ameeramer commented on #52
![image](https://user-images.githubusercontent.com/19497043/48627908-84733180-e9be-11e8-9539-7774a6a28ad4.png)

[2018-11-16 15:49] menhel commented on #111
Done.
![image](https://user-images.githubusercontent.com/28152692/48631781-00be4280-e9c8-11e8-91f5-5c630e0b7519.png)

[2018-11-17 08:29] ron4548 commented on #122
Done. Changed the method access modifier from 'private' to 'package private' (default)

[2018-11-17 08:29] #122 closed

[2018-11-17 08:50] ron4548 commented on #116
![image](https://user-images.githubusercontent.com/4895877/48659227-8c7eb000-ea56-11e8-95fa-cba42a0da689.png)

[2018-11-17 13:38] menhel commented on #107
Done.
[See updated wiki page](https://github.com/TechnionYP5779/team4/wiki/Push-Procedure)

[2018-11-17 13:38] #107 closed

[2018-11-17 13:48] menhel commented on #112
Done.
![image](https://user-images.githubusercontent.com/28152692/48661766-23139700-ea80-11e8-8d1f-ce3b375f8e4c.png)

[2018-11-17 13:52] ameeramer commented on #73
@Rany615 please close the issue when completed. you can write "fixed #[isuue_no]" in the commit message, so the issue closes automatically.

[2018-11-17 14:00] menhel commented on #116
![image](https://user-images.githubusercontent.com/28152692/48661877-cadd9480-ea81-11e8-9b30-d5a11205ce02.png)

[2018-11-17 14:10] menhel commented on #119
See image below, it is impossible to close both of these issues at the same time.
@dormaayan, Please define clear rules regarding the use of azzert vs. assert.

![image](https://user-images.githubusercontent.com/28152692/48661971-28beac00-ea83-11e8-9e3b-2ad827dbdd3d.png)

#106

[2018-11-17 14:17] ameeramer commented on #119
@menhel I don't think there's a contradiction between the issues, this issue instructs us to use the **command** assert where possible, where the other one instructs us to use the class azzert instead of the **class** Assert.
The class Assert and the command assert aren't the same, the first is a class of JUnit, while the second is a command in Java.

[2018-11-17 14:31] menhel commented on #119
@ameeramer Thanks, all clear now :-)

[2018-11-17 14:53] menhel commented on #110
last commit closed the issue, as there was no need to refactor src/test.
Done.

[2018-11-17 14:53] #110 closed

[2018-11-17 15:02] menhel commented on #123
Done. See new readme file in the [code section](https://github.com/TechnionYP5779/team4).

[2018-11-17 15:30] ameeramer opened #124 "Eliminate LGTM alerts"

[2018-11-17 17:17] #124 closed

[2018-11-17 19:59] ron4548 commented on #112
![image](https://user-images.githubusercontent.com/4895877/48665260-05f8bb80-eab4-11e8-9b87-c0151d6b3139.png)
Had some problems, but now it is working.

[2018-11-17 20:04] ron4548 commented on #111
![image](https://user-images.githubusercontent.com/4895877/48665310-c088be00-eab4-11e8-87b8-7cb7478ccb20.png)
Done.

[2018-11-17 21:04] moshesab commented on #116
![image](https://user-images.githubusercontent.com/23172912/48665769-1eb99f00-eabd-11e8-86e2-c8ec1e558f29.png)

[2018-11-17 21:07] #119 closed

[2018-11-17 22:08] moshesab commented on #106
Done.

[2018-11-17 22:08] #106 closed

[2018-11-17 23:04] moshesab commented on #112
![image](https://user-images.githubusercontent.com/23172912/48666604-dbb3f780-eacd-11e8-8cea-6a9ffc8d280d.png)

[2018-11-17 23:07] moshesab commented on #111
![image](https://user-images.githubusercontent.com/23172912/48666631-5846d600-eace-11e8-9451-3805d8cbb256.png)
Done.

[2018-11-18 14:36] ron4548 commented on #117
I think all of us should work on this since there are many @SuppressWarnings in the code.

[2018-11-18 16:46] ron4548 commented on #117
Done. Removed about 60 instances of @SuppressWarnings. The others couldn't be removed since there was no other choice.

[2018-11-18 16:46] #117 closed

[2018-11-18 23:29] yossigil commented on #116
just export the configuration, and commit the xml

[2018-11-18 23:31] yossigil commented on #124
nice

[2018-11-18 23:34] yossigil commented on #123
but this is not the spartanizer project....

[2018-11-18 23:48] yossigil commented on #73
@Rany615 ???

[2018-11-19 00:50] yossigil commented on #114
not done

[2018-11-19 01:31] yuvalron commented on #52
![image](https://user-images.githubusercontent.com/19504086/48681529-9a921500-ebab-11e8-8a5b-719f7f6fec5b.png)

[2018-11-19 12:01] ameeramer commented on #124
![image](https://user-images.githubusercontent.com/19497043/48706051-a9a4b180-ec03-11e8-9be3-ac4974cc6c8d.png)

[2018-11-19 12:34] ameeramer commented on #114
ae5810c4fb6c8c396b790972668cbea131a57da3  this commit fixed it. it was committed after f32dbce

[2018-11-19 12:47] yuvalron opened #128 "Yuval's Personal Progress"
**Project Ideas:**
#102 Find 3 Project Subject Ideas
- [Testock](https://github.com/TechnionYP5779/team4/wiki/Idea-%232:-Testock)

**Unit Tests:**
#27 Unit tests for class Bool
#30 Unit tests for class Int
#35 Unit tests for class Truth
#43 Unit tests for interface nil

**Improving coverage (#52):**
Created the following Unit tests:
NoteTest (8dc6a9b126e17c9658a04b1337dc8988386e105a)
StrTest (97ba

[2018-11-19 16:46] #52 closed

[2018-11-19 16:46] ameeramer commented on #52
![image](https://user-images.githubusercontent.com/19497043/48721870-6b22ed00-ec2b-11e8-9e57-ed578ad70375.png)

[2018-11-19 18:25] yossigil opened #129 "include a link to sonarqube and lgtm in your readme.md"

[2018-11-19 18:26] yossigil opened #130 "include a link to sonarqube and lgtm in your readme.md"

[2018-11-19 18:41] yossigil opened #131 "polish your code: change box.box(x) to box.it(x), or to box(x); same with unbox"

[2018-11-19 18:50] moshesab opened #132 "Moshe's Personal Progress"
Set-up environment:
#10 foo
#18  Karma and Todos for Moshe Sebag
#12 Make sure all team members have a setup gitprofile.
#50  setting up the working environment of Moshe Sebag
#70  Set up running environment - Moshe Sebag
#111 Test runs should be with assertions enabled
#112 Integrate github issues with eclipse
#116 Create a cleanup profile for eclipse, and save it with your projecrt

Team reporis

[2018-11-19 18:52] yossigil opened #133 "For each class X, test class should be named XTest, not X_Test, neither XTests, nor xTests, etc. this includes case matching, and also folder matching"

[2018-11-19 18:56] moshesab commented on #131
@yossigil
It is bot.it():
![image](https://user-images.githubusercontent.com/23172912/48728392-8696f380-ec3d-11e8-9f7b-50783f9877a5.png)

or I didn't get what you mean

[2018-11-19 18:58] yossigil commented on #128
please specify which TDD you did, which class you documented, and which were the 3-5 most heavy issues you did

[2018-11-19 18:58] yossigil commented on #132
please specify which TDD you did, which class you documented, and which were the 3-5 most heavy issues you did

[2018-11-19 19:00] yossigil opened #134 "make sure all team members have a personal progress issue"

[2018-11-19 19:07] moshesab commented on #130
close due to duplication.

[2018-11-19 19:07] yossigil commented on #131
why boxInteger when the name was box? please fix this

[2018-11-19 19:07] yossigil commented on #130
duplicate of what? Please include issue number.
Add duplicate label

[2018-11-19 19:08] moshesab commented on #129
Done.

[2018-11-19 19:10] yossigil commented on #129
this cannot be done without a commit that changes readme.md

[2018-11-19 19:15] moshesab commented on #130
@yossigil
Duplication of issue #129

[2018-11-19 19:31] yossigil opened #135 "make sure that nulling and forget are in fluent.ly"

[2018-11-19 19:35] #130 closed

[2018-11-19 19:42] yossigil opened #136 "Polish: convert azzert.that(the.max(1, 3, 2), azzert.is(3)) to azzert.that(the.max(1, 3, 2), is(3)) [hint: search for ", azzert.is(""

[2018-11-19 19:45] moshesab commented on #136
![image](https://user-images.githubusercontent.com/23172912/48730926-6880c180-ec44-11e8-890d-b502f41e838e.png)

[2018-11-19 19:45] #136 closed

[2018-11-19 19:50] yossigil opened #137 "factor out @SuppressWarnings("unused"), if applies to many methods in class, e.g., in forget"

[2018-11-19 19:52] moshesab commented on #135
Now they are.

[2018-11-19 19:54] yossigil commented on #135
commit?

[2018-11-19 19:55] yossigil opened #138 "unbox.unboxInteger should be unbox.unbox; same for other types"

[2018-11-19 21:03] #135 closed

[2018-11-19 21:06] #137 closed

[2018-11-19 21:18] yossigil opened #139 "Polish your code: Utils.cantBeNull(x) -> cantBeNull(x)"

[2018-11-19 21:26] yossigil opened #140 "REMOVE ASSERTfALSE FROM CLASS SEAPRATEtEST; THEY DO NOT BELONG THERE"

[2018-11-19 21:32] yossigil commented on #133
must be windows. Dump the machine and install linux

[2018-11-19 21:35] ron4548 opened #141 "Ron's personal progress"
### Intro and Setup
#2 Foo
#11 Karma and Todos for Ron Marcovich
#12 Make sure all team members have a setup gitprofile
#111 Test runs should be with assertions enabled
#112 Integrate github issues with eclipse
#116 Create a cleanup profile for eclipse, and save it with your project

### Most heavy issues I resolved
#20 Make sure all tests conform to the recommended maven structure
#88 move all in

[2018-11-19 21:41] yossigil opened #142 "no static void assertFalse(final @NotNull String reason, final boolean b) in separate"

[2018-11-19 23:09] menhel opened #143 "Integrate Codecov Badge into ReadMe.md"

[2018-11-19 23:10] menhel commented on #143
Done. Commit e09c1978ff826fe5100d4e246de392394c92cf63
![image](https://user-images.githubusercontent.com/28152692/48740670-1306dd80-ec61-11e8-82cd-a6fb624070c6.png)

[2018-11-19 23:10] #143 closed

[2018-11-19 23:22] menhel commented on #123
Updated to suit the project description. Done.

[2018-11-20 03:22] yossigil opened #144 "class zero is for snippets such as return zero.forget(x). Make sure this class and other fluent classes like this e.g., de.fault, are in fluent.ly"

[2018-11-20 03:58] yossigil commented on #123
commit#?

[2018-11-20 03:59] yossigil commented on #123
and this is not the spartanizer; just a small library...

[2018-11-20 08:38] menhel opened #145 "Guy's Personal Progress"
### Heaviest Issues I Dealt With
#63 make sure there are no warnings on code
#110  refactor the code so that it uses box and unbox
Extensive research for the SmartCity Traveler idea and writing of the [Wiki Page](https://github.com/TechnionYP5779/team4/wiki/Idea-%233:-SmartCity-Traveler)

### Introduction & Set Up
#1 Foo
#4 Prepare a team wiki with a schedule for the semester, including all constr

[2018-11-20 10:17] menhel commented on #139
Done.

[2018-11-20 10:17] #139 closed

[2018-11-20 11:00] menhel commented on #138
Done.

[2018-11-20 11:00] #138 closed

[2018-11-20 11:02] menhel opened #146 "box.boxInteger should be box.it; same for other types"

[2018-11-20 11:09] ameeramer opened #147 "Ameer's Personal Progress"
### Introduction and Set Up:
#7 foo
#12 Make sure all team members have a setup gitprofile.
#19 Karma and Todos for A'meer A'mer
#49 setting up the working environment of A'meer A'mer
#65 make sure the code runs

### Unit Tests
#29 Unit tests for class idiomatic
#32 Unit tests for class Range
#34 Unit tests for class Statistics
#38 Unit tests for interface anonymous
#40 Unit tests for interface as

[2018-11-20 11:37] menhel commented on #146
Done.

[2018-11-20 11:37] #146 closed

[2018-11-20 11:40] menhel commented on #134
@Rany615 @maxcalderon1997
Please add a personal progress page. You can look at ours in the issue tab.

[2018-11-20 11:58] menhel opened #148 "Add code-style badge to readme.md"
Show the code is spartanized using the code-style badge

[2018-11-20 11:58] menhel commented on #148
Done. Commit 3c7e11792a576c8317a6e45225a35d606ea5cebb

[2018-11-20 11:58] #148 closed

[2018-11-20 14:50] maxcalderon1997 commented on #111
![image](https://user-images.githubusercontent.com/19844997/48781260-59e9e700-ece4-11e8-8bdd-71728bdc2863.png)
done.

[2018-11-20 14:57] menhel commented on #52
Note: the badge in the readme is showing only 55%. This is due to the way Codecov's formula, which treat partials as 0% coverage instead of their actual percentage. This is not the case in Eclipse, and as we were instructed to check ourselves with Eclipse, this issue is still closed.

See snapshot from Codecov's website:
![image](https://user-images.githubusercontent.com/28152692/48781763-5acf4880

[2018-11-20 14:59] menhel commented on #131
Duplicate for #138 and #146 which are now closed.
Closed.

[2018-11-20 14:59] #131 closed

[2018-11-20 15:08] maxcalderon1997 commented on #112
![image](https://user-images.githubusercontent.com/19844997/48782451-e72e3b00-ece6-11e8-974a-881f17eb58ff.png)

[2018-11-20 15:18] maxcalderon1997 commented on #116
![image](https://user-images.githubusercontent.com/19844997/48783079-3fb20800-ece8-11e8-9c74-aefedd94dde1.png)

[2018-11-20 15:47] #140 closed

[2018-11-20 15:47] #142 closed

[2018-11-20 16:01] menhel commented on #129
Done. see snapshot from our readme page below.

![image](https://user-images.githubusercontent.com/28152692/48785892-522f4000-ecee-11e8-9e07-8d694256d7c9.png)

[2018-11-20 16:01] #129 closed

[2018-11-20 16:02] maxcalderon1997 opened #149 "Max's Personal Progress"
**Introduction and Set Up:**
#9 foo
#12 Make sure all team members have a setup gitprofile.
#17 Karma and Todos for Max Calderon
#51 setting up the working environment of Max Calderon and Ron Marcovich
#69 Set up running enviroment - Max Calderon

**Team reporisory maintenance:**
#95 Please use commits not pull requests
#101 Commit Checklist
#111 Test runs should be with assertions enabled
#112 In

[2018-11-20 16:04] ameeramer opened #150 "Eliminate as much as possible SonarQube bugs"

[2018-11-20 16:12] menhel commented on #123
Done. Commit dd75968cfa7498e7ead2fc083e87dc12a2b2f8cd

[2018-11-20 16:12] #123 closed

[2018-11-20 16:14] menhel commented on #111
@yuvalron Please provide a screen dump

[2018-11-20 16:19] menhel commented on #114
No boxing warnings are suppressed in the code. See seach result for `"boxing"` below:
![image](https://user-images.githubusercontent.com/28152692/48787027-acc99b80-ecf0-11e8-88d1-18cdcb22e2ec.png)

[2018-11-20 16:19] #114 closed

[2018-11-20 18:41] #150 closed

[2018-11-20 19:17] ameeramer commented on #134
@Rany615 ...

[2018-11-20 20:34] #73 closed

[2018-11-20 21:02] yuvalron commented on #111
![image](https://user-images.githubusercontent.com/19504086/48802579-4c4e5480-ed18-11e8-9112-ad1b8ea7e29a.png)

[2018-11-20 21:06] yuvalron commented on #128
Most heavies issues I did:
- #52 Improving source coverage
- #102 Thinking about project ideas and documenting the "Testock" idea
- #74 Implementing BigInteger TDD

[2018-11-20 21:15] #144 closed

[2018-11-20 21:31] Rany615 commented on #116
![screenshot from 2018-11-20 13-28-51](https://user-images.githubusercontent.com/24301335/48804084-5a05d900-ed1c-11e8-9fc8-885892ad2936.png)

[2018-11-20 21:31] #116 closed

[2018-11-20 21:33] Rany615 commented on #111
![screenshot from 2018-11-20 13-32-50](https://user-images.githubusercontent.com/24301335/48804203-a9e4a000-ed1c-11e8-9b6c-d772f1d4af4d.png)

[2018-11-20 21:33] #111 closed

[2018-11-20 21:43] Rany615 opened #151 "Rani's personal progress"
Introduction and Set Up:
#8  foo
#12 Make sure all team members have a setup gitprofile.
#25 Karma and Todos for Rani Jammal
#26 setting up the working environment of Rani Jammal
#68 make sure the code runs

Team:
#116 Create a cleanup profile for eclipse, and save it with your projecrt
#95 Please use commits not pull requests
#101 Commit Checklist
#111 Test runs should be with assertions enabled

[2018-11-20 21:49] #134 closed

[2018-11-20 21:50] menhel commented on #134
Closed.
#128 Yuval's Personal Progress
#132 Moshe's Personal Progress
#141 Ron's Personal Progress
#145 Guy's Personal Progress
#147 Ameer's Personal Progress
#149 Max's Personal Progress
#151 Rany's Personal Progress

[2018-11-21 03:13] yossigil opened #152 "Upgrade to Java 11: https://goo.gl/xBf7iR"

[2018-11-21 03:20] yossigil opened #153 "eliminate tokenizer.flex"

[2018-11-21 05:47] yossigil commented on #73
@Rany615 : THIS IS NOT AN ISSUE YOU WORKED ON

[2018-11-21 06:52] ameeramer commented on #152
![image](https://user-images.githubusercontent.com/19497043/48823750-b7c11200-ed6a-11e8-83ac-18b909de5e7d.png)

[2018-11-21 07:07] ron4548 commented on #153
Identifier "tokenizer" doesn't exist in our project. Same for "flex".
![image](https://user-images.githubusercontent.com/4895877/48824363-bb559880-ed6c-11e8-9478-bddad69afecc.png)
![image](https://user-images.githubusercontent.com/4895877/48824382-cf00ff00-ed6c-11e8-8205-26b44315cf95.png)

[2018-11-21 07:07] #153 closed

[2018-11-21 07:13] ron4548 commented on #152
![image](https://user-images.githubusercontent.com/4895877/48824686-a4fc0c80-ed6d-11e8-8a0b-0a9791879a78.png)

[2018-11-21 07:41] ron4548 commented on #133
Done.

[2018-11-21 07:41] #133 closed

[2018-11-21 11:53] ron4548 opened #154 "Explore options for Chrome extensions"
Need to check what we can do with Chrome extensions for automatically collecting solutions for exams

[2018-11-21 13:52] ron4548 commented on #154
[Chrome APIs](https://developer.chrome.com/extensions/api_index) we might want to use:
- [downloads](https://developer.chrome.com/extensions/downloads): Use the chrome.downloads API to programmatically initiate, monitor, manipulate, and search for downloads.
- [desktopCapture](https://developer.chrome.com/extensions/desktopCapture): Desktop Capture API that can be used to capture content of screen

[2018-11-21 13:56] ron4548 commented on #154
We can use "downloads API" to detect a downloading of a scan from grades.technion.ac.il.
Scan url format:
`https://grades.technion.ac.il/scanexam.ashx?ScanID=XXXXXX`
Then we can allow to user to pick pages from this PDF (pdf editor in js need to be determined as a separate issue). We have course information from Grades website so the process is **semi-automatic**.

[2018-11-25 06:16] jtarver2018 opened #155 "Get data from another mobile phone"

[2018-11-25 06:16] #155 closed

[2018-11-25 18:26] menhel opened #156 "Analyzing Safot website"
We need to analyze [safot website](https://safot.cs.technion.ac.il/user/%D7%99%D7%95%D6%B9%D7%A1%D6%B4%D7%99+%D7%92%D6%BC%D6%BC%D6%B4%D7%99%D7%9C/activity):
- How can we improve this website?
- How can we integrate our features of "Testock" into it?
- How can we integrate our idea of chrome plugin?
- Understand which technologies were used to create this website

[2018-11-26 17:43] ameeramer opened #157 "Define User class using TDD"
- [x] get_id: returns id of user.
- [x] get_name: returns the user's name.
- [x] get_phone: returns user phone.
- [x] get_email: returns user email.
- [x] update_phone: updates user phone.
- [x] update_email: updates user email.
- [x] newAvailableParkingLot: adds a new available parking lot
- [x] rent_parkingLot(parkingLot_id): rents one of the user's available parkingLots.
- [x] order_parkingLot(

[2018-11-26 19:13] moshesab opened #158 "define ParkingLot class using TDD"
As part of our parking system we should define a class that will represent a parking lot space.

The class will enable the following:

- [x] getID() - returns the parking lot unique ID number.

- [x] getLocation() - returns a Pair of coordinates of the parking lot location.

- [x] getOwner() - returns a User object that represent the owner of the parking lot.

- [x] getPricesArray - return an arra

[2018-11-26 20:35] #157 closed

[2018-11-27 09:15] maxcalderon1997 commented on #156
[features of safot website.docx](https://github.com/TechnionYP5779/team4/files/2619097/features.of.safot.website.docx)
i listed some features in Safot website. This list in not complete because I wasn't sure about some of it's features. You're all welcome to comment on the list and fix it.

[2018-11-27 10:35] #112 closed

[2018-11-27 10:59] ameeramer opened #159 "Design a database schema that describes the project structure"

[2018-11-27 11:17] ameeramer commented on #159
@moshesab @ron4548 this is a basic possible schema, would like to discuss it with you.

![image](https://user-images.githubusercontent.com/19497043/49078408-9b2f4900-f246-11e8-9aff-8a45944f128c.png)

[2018-11-27 20:06] ron4548 opened #160 "Define class for parking lot reservation"

[2018-11-27 21:06] yuvalron opened #161 "Testock Presentation"
@menhel, can you please upload the "Testock" presentation we created for the meeting tomorrow?

[2018-11-27 21:11] yuvalron commented on #156
A nice feature is the ability to rate users based on their activity.

[2018-11-28 06:39] menhel commented on #161
Sure. Here you go.
https://technionmail-my.sharepoint.com/:p:/g/personal/menhel_campus_technion_ac_il/EcQazhvNG8VLn9jgy4nRxIMBNDuCZsS0LZfkcJKr_6oxNw?e=xPHwDL

[2018-11-28 06:39] #161 closed

[2018-11-28 07:43] ameeramer opened #162 "Connect project to PostgreSQL with Heroku"

[2018-11-28 10:19] moshesab opened #163 "Search for a gui tool"

[2018-11-28 10:19] moshesab opened #164 "Search for a users management library"

[2018-11-28 10:20] moshesab opened #165 "Any action should happen on github"

[2018-11-28 12:54] ron4548 commented on #164
We will use [Firebase Authentication](https://firebase.google.com/docs/auth/)

[2018-11-28 19:20] ron4548 opened #166 "ParkNet project was moved to a new repository"
https://github.com/TechnionYP5779/Parknet

Please make all related issues and discussions in the correct repository.

[2018-11-29 10:31] yossigil opened #167 "Make sure you have only one quote function, in enum string; consolidate tests. Check for Utils.QUOTE. Do you need it?"

[2018-11-30 07:30] #164 closed, assigned to ron4548

[2018-11-30 07:31] ron4548 commented on #163
We will build it as Android application and therefore will use Android SDK and optionally other SDKs for more complicated UI components

[2018-11-30 08:03] yossigil commented on #163
not a good idea, because you would have problems in delivering the first iteration

[2018-11-30 08:37] ron4548 commented on #163
What do you mean? We already have a working app with basic functionality as you can see in the other repository: https://github.com/TechnionYP5779/Parknet

[2018-11-30 09:16] yossigil commented on #163
Ok. will sort it out later. thanks

[2018-11-30 10:17] yossigil commented on #151
the links are still broken. Fix them! they are to the new project. They should be to the old.

[2018-11-30 10:22] Rany615 commented on #151
im closing this because its on this team, theres another one on the new team, TechnionYP5779/team3#146

[2018-11-30 10:37] #151 closed

[2018-12-04 10:21] menhel opened #168 "Sort the exams in the drive to Moadim automatically"

[2018-12-08 11:40] menhel commented on #168
Need to generate a script which receives a directory (i.e. from the faculty drive), and sorts it as follows
![image](https://user-images.githubusercontent.com/28152692/49685614-b9bafd00-faee-11e8-9cee-8dbe16c680ed.png)

[2018-12-08 11:54] menhel opened #169 "Automatically download exams from webcourse"
For a given course number, download all exams and formal solutions.
The output will then be given to the sorting script to complete the job.

[2018-12-08 11:55] menhel opened #170 "Safot: get DB from the website's admins"
Try to contact Daniel Mittleman or any other admin of safot website to get it's DB.
If stuck, try to contact Yossi, he can help.

[2018-12-08 11:56] menhel opened #171 "Create a backlog for Testock website"

[2018-12-08 11:57] menhel opened #172 "Design logo for Testock"

[2018-12-08 12:00] menhel opened #173 "Design website template for testock"
Stick to Material design principle and conform to Bootstrap layouts as much as possible
[Material Design](https://material.io/design/introduction/)
[Bootstrap Website](https://getbootstrap.com/)

[2018-12-08 19:43] 0xYuval commented on #171
Created a [backlog](https://github.com/TechnionYP5779/team4/projects/1), and added 20 user stories.

The user stories are based on the following structure:
As a < type of user >, I want < some goal > so that < some reason >.

This structure is recommended by this tutorial: https://www.mountaingoatsoftware.com/agile/user-stories

At our group meeting in Wednesday, we will decide which features will

[2018-12-08 19:46] 0xYuval commented on #170
It turns out that Daniel Mittleman and Daniel Mitleman (one "t") are different persons... :)

Sent Daniel Mittleman (hopefully, the right person) a message on Facebook...

[2018-12-08 19:47] 0xYuval commented on #170
I also asked for a relevant contact on the Faculty Facebook group

[2018-12-08 19:48] 0xYuval commented on #172
In my opinion, the logo should contain somehow a student that learns to his exams

[2018-12-08 19:49] 0xYuval commented on #169
@menhel, do you remember what is the name of the similar Chrome plug-in?

[2018-12-08 19:50] #109 closed

[2018-12-08 19:50] 0xYuval commented on #108
Sprint-Zero is done.

[2018-12-08 19:50] #108 closed

[2018-12-08 19:51] 0xYuval commented on #149
Sprint-Zero is done.

[2018-12-08 19:51] #149 closed

[2018-12-08 19:51] 0xYuval commented on #147
Sprint-Zero is done.

[2018-12-08 19:51] #147 closed

[2018-12-08 19:51] 0xYuval commented on #145
Sprint-Zero is done.

[2018-12-08 19:51] #145 closed

[2018-12-08 19:51] 0xYuval commented on #141
Sprint-Zero is done.

[2018-12-08 19:51] #141 closed

[2018-12-08 19:51] 0xYuval commented on #132
Sprint-Zero is done.

[2018-12-08 19:51] #132 closed

[2018-12-08 19:51] 0xYuval commented on #128
Sprint-Zero is done.

[2018-12-08 19:51] #128 closed

[2018-12-08 19:52] 0xYuval commented on #165
Understood.

[2018-12-08 19:52] #165 closed, assigned to ron4548, ameeramer, 0xYuval, maxcalderon1997, moshesab, Rany615, menhel

[2018-12-08 19:53] 0xYuval commented on #158
#166 ParkNet project was moved to a new repository.

[2018-12-08 19:53] #158 closed

[2018-12-08 19:54] 0xYuval commented on #159
#166 ParkNet project was moved to a new repository.

[2018-12-08 19:54] #159 closed

[2018-12-08 19:54] 0xYuval commented on #160
#166 ParkNet project was moved to a new repository.

[2018-12-08 19:54] #160 closed

[2018-12-08 19:54] 0xYuval commented on #162
#166 ParkNet project was moved to a new repository.

[2018-12-08 19:54] #162 closed

[2018-12-08 19:54] 0xYuval commented on #163
#166 ParkNet project was moved to a new repository.

[2018-12-08 19:54] #163 closed, assigned to nobody

[2018-12-08 19:55] 0xYuval commented on #166
Thank you, understood.

[2018-12-08 19:55] #166 closed, assigned to ron4548, ameeramer, moshesab

[2018-12-08 20:01] ron4548 commented on #169
![image](https://user-images.githubusercontent.com/4895877/49690153-c19d9000-fb34-11e8-9ba9-494dcceecdee.png)
@yuvalron

[2018-12-10 10:11] 0xYuval commented on #169
@ron4548 This plug-in rates the courses, it is not what I am talking about

[2018-12-10 18:07] 0xYuval opened #174 "Accenture Project Idea"
**Title: Agile Security – Cyber Security Remediation Service**

**Abstract:**

Accenture’s Cyber Fusion Center in Herzelia offers a final year project to Technion students that would be part of cutting edge technology delivered to Accenture’s clients termed Agile Security. In parallel to the project, participating students can apply for a student internship position at Accenture R&D Labs.

As part

[2018-12-10 18:08] 0xYuval commented on #174
More details: https://bit.ly/2JeXhgL
Presentation from Cyber week

[2018-12-10 18:10] 0xYuval commented on #174
[technion students.docx](https://github.com/TechnionYP5779/team4/files/2664320/technion.students.docx)

Accenture’s Agile Security methodology and technologies industrialize holistic cyber and business alignment by employing proactive automated cyber risk management. Agile Security solves the most problematic challenge of cyber security today - lack of resources against overwhelming defense missio

[2018-12-10 18:13] 0xYuval commented on #174
![1](https://user-images.githubusercontent.com/19504086/49752079-ee2de500-fcb7-11e8-84bd-4ce36e0630ed.jpg)

[2018-12-10 18:15] 0xYuval commented on #174
![2](https://user-images.githubusercontent.com/19504086/49752134-20d7dd80-fcb8-11e8-8f49-904b281fd333.jpg)

[2018-12-10 18:18] 0xYuval commented on #170
@maxcalderon1997 Please ask Itay Dabran if has some information about it

[2018-12-11 19:29] 0xYuval commented on #173
Login:
![image](https://user-images.githubusercontent.com/19504086/49824852-af695f00-fd8b-11e8-8c37-3564044534e7.png)

[2018-12-11 19:32] 0xYuval commented on #173
Choose Faculty:
![image](https://user-images.githubusercontent.com/19504086/49824975-f9524500-fd8b-11e8-8952-c7540915ea0a.png)

[2018-12-11 19:34] 0xYuval commented on #173
Choose Course:
![image](https://user-images.githubusercontent.com/19504086/49825151-6665da80-fd8c-11e8-8779-461e9751726e.png)

[2018-12-11 19:43] 0xYuval commented on #169
Here is an example of a script that receives a webcourse URL and downloads all pdf files into a directory.
Since it is written in python I do not know how to commit this script into the existing Java project:

[code]

[2018-12-12 10:05] ron4548 opened #175 "New repository for Testock"
Testock development will continue here: https://github.com/TechnionYP5779/Testock
Need to move all relevant discussions to this repository.

[2018-12-12 14:00] 0xYuval commented on #175
@ron4548

I need admin permissions on the repository the issue is in and the repository transferring the issue to.
https://help.github.com/articles/transferring-an-issue-to-another-repository/

Who is the admin?

[2018-12-12 17:55] ron4548 commented on #175
@yuvalron All the team has admin permissions to this repo, so it is strange. Anyway I believe it is ok to copy and paste important issues that need to be done, as well as the wikis

[2018-12-14 11:03] menhel commented on #174
@yuvalron and me talked with Avi Dayan, head of R&D at Accenture and have a pretty good idea about the project's details.
Need to schedule a conference call between all group members and decide how to proceed. Started a conversation via Telegram.

[2018-12-14 11:03] #174 closed, assigned to 0xYuval

[2018-12-15 13:58] 0xYuval commented on #169
#175

[2018-12-15 13:58] #169 closed, assigned to 0xYuval

[2018-12-15 13:59] 0xYuval commented on #168
#175

[2018-12-15 13:59] #168 closed, assigned to menhel

[2018-12-15 14:00] yuvalron commented on #173
Created a backlog, and added 20 user stories.

The user stories are based on the following structure:
As a < type of user >, I want < some goal > so that < some reason >.

This structure is recommended by this tutorial: https://www.mountaingoatsoftware.com/agile/user-stories

At our group meeting in Wednesday, we will decide which features will get into Sprint-One, which to the next sprint, and wh

[2018-12-15 14:07] 0xYuval commented on #171
#175

[2018-12-15 14:07] #171 closed, assigned to 0xYuval

[2018-12-15 14:20] #170 closed, assigned to 0xYuval, maxcalderon1997

[2018-12-15 14:20] #156 closed

[2018-12-15 14:20] #154 closed

[2018-12-15 14:20] #172 closed, assigned to menhel

[2018-12-15 14:20] #173 closed, assigned to menhel

[2019-01-10 11:39] jtarver2018 commented on #123
Commit

[2019-01-10 11:40] jtarver2018 commented on #152
Git/push